.container-g {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    /* Color de fondo gris */
    border-radius: 50%;
    /* Hace el contenedor circular */
    overflow: hidden;
    /* Oculta cualquier parte de los elementos animados que sobresalgan */
    border: 1px solid #ccc;
}

.graf {
    transition: background-color 1s ease;
    cursor: pointer;
}

.graf:hover {
    background-color: #756f64;
}



.recuadro {
    /*width: 280px !important;*/
    height: 90px !important;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: height 0.5s ease, background-color 0.5s ease;
    padding: 2px;
}

.recuadro.expandido {
    height: 360px !important;
    background-color: rgba(65, 227, 208, 0.258) !important;
    border-radius: 5%;
}

.contenido-colors{
    min-height: 180px;
    max-height: 180px;
    width: auto;
    background-color:#ffff ;
    border-radius: 5%;

    border: 10px solid  rgba(65, 227, 208, 0.273);
    overflow: scroll;
    border-bottom: 1px solid green;
}

    
/*PERSONALIZACION DEL SCROLL*/
.contenido-colors::-webkit-scrollbar{
    width: 7px;
}
.contenido-colors::-webkit-scrollbar-thumb{
    background-color:  rgba(6, 75, 67, 0.956);;
    border-radius: 25px;
    cursor: pointer;
}



.sucursales {
    width: 250px !important;
    height: 80px !important;
    overflow: hidden;
    /*background-color: #f0f0f0;*/
    border: 1px solid #ccc;
    cursor: pointer;
    transition: height 0.8s ease,border 0.5s ease;
}

.sucursales.expandido {
    height: 310px !important;
    /*background-color: rgba(65, 227, 208, 0.258) !important;*/
    border-radius: 5%;
    /* Ajusta según sea necesario */
}