.centrar-color{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
}

.btn-sucursal{
    border-radius: 25px 0 0 25px;
    border-left: 4px solid #ffff;
    border-top: 4px solid #ffff;
    border-bottom: 4px solid #ffff;
    background-color: #262626;
    cursor: pointer;
    transition: background-color 1s ease, border 0.5s ease;
}

.btn-sucursal.select{
    background-color: #23c606;

}

.btn-sucursal:hover{
    background-color: #23c606;
    
    border-left: 2px solid #ffff;
    border-top: 2px solid #ffff;
    border-bottom: 2px solid #ffff;
}

